.errorContent, .messageContent {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.errorContent {
  background: #e74c3c;
}

.messageContent {
  background: #1da1f2;
}

.placeholderAvatar {
	height: 100px;
	width: 100px;
	display: inline-block;
}
a {
	display: inline-block;
}
h4 {
	display: inline-block;
}
.postContent {
	display: inline-block;
}
.hide {
	display: none;
}
.link {
	display: inline-block;
}

header {
  width: 100%;
  height: 55px;
  border-bottom: 2px solid #000;
  /*position: fixed;*/
  z-index: 10;

  display: flex;
  justify-content: center;
}
.login {
	float: right;
}
.postContainer {
}

.logo{
    height: 80%;
}
