/*GENERAL STYLING*/
a{
  color:#777 !important;
}

/*Remove the autofill yellow color by Chrome*/
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/*Error and messages styling*/
.errorContent, .messageContent {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
}

.errorContent {
  background: #e74c3c;
  -webkit-box-shadow: 0px 7px 1px -1px rgba(128,41,33,1);
-moz-box-shadow: 0px 7px 1px -1px rgba(128,41,33,1);
box-shadow: 0px 7px 1px -1px rgba(128,41,33,1);
}

.messageContent {
  background: #1da1f2;
}

/*HEADER*/
header{
  border-bottom: 2px solid #333;
  padding-top: 15px;
  padding-bottom: 15px;
}

header .vertical-align, .vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center;
}

header ul{
  margin-bottom: 0 !important;
}

header h1, header h4, header p{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.white{
    color:#fff !important;
}

/*MAIN CONTAINER*/
.main-container{
  padding-top: 30px;
  padding-bottom: 15px;
}

/*ALL POSTS PART*/

.post h4{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.post p{
  margin-bottom: 0 !important;
}

.padding-bottom{
  padding-bottom: 10px;
}


.btn-accent{
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-decoration: none !important;
  -webkit-box-shadow: 0px 5px 1px -1px rgba(128,41,33,1);
-moz-box-shadow: 0px 5px 1px -1px rgba(128,41,33,1);
box-shadow: 0px 5px 1px -1px rgba(128,41,33,1);
}

.btn-accents{
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-decoration: none !important;
}

.grey{
  -webkit-box-shadow: 0px 2px 1px -1px rgba(71,71,71,1);
-moz-box-shadow: 0px 2px 1px -1px rgba(71,71,71,1);
box-shadow: 0px 2px 1px -1px rgba(71,71,71,1);
}

.red{
  color: #C9302C !important;
}

/*Comments*/


/*AUTHORISATION*/
.margin-bottom{
  margin-bottom: 40px;
}

form{
  text-align: center;
  padding:20px 10px;
  border:1px solid #777;
}

/*SETTINGS*/
.col-md-4.control{
  border:1px solid red;
}

.margin-top{
  margin-top: 40px;
}

.side-borders{
    border-right: 1px solid #777;
    border-left: 1px solid #777;
}

/*FOOTER*/
footer{
  text-align: center;
  margin-top: 40px;
  border-top: 2px solid #333;
}

/*Media queries*/
/*Do not work properly*/
@media only screen and (min-width: 450px){
  .vertical-align{
    display: column;
  }
}
