/*GENERAL STYLING*/
a{
  color:#777 !important;
}

/*Error and messages styling*/
.errorContent, .messageContent {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.errorContent {
  background: #e74c3c;
}

.messageContent {
  background: #1da1f2;
}

/*HEADER*/
header{
  border-bottom: 2px solid #333;
  padding-top: 15px;
  padding-bottom: 15px;
}

header .vertical-align, .vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center;
}

header ul{
  margin-bottom: 0 !important;
}

header h1, header h4, header p{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.white{
    color:#fff !important;
}

/*MAIN CONTAINER*/
.main-container{
  padding-top: 30px;
  padding-bottom: 15px;
}

/*ALL POSTS PART*/

.post h4{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.post p{
  margin-bottom: 0 !important;
}

.padding-bottom{
    padding-bottom: 10px;
}

.vertical-align-spacebetween{
    display: flex;
    flex-direction: row;
}

.vertical-align-spacebetween > [class^="col-"],
.vertical-align-spacebetween > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-accent{
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-decoration: none !important;
}

.red{
  color: #C9302C !important;
}

/*AUTHORISATION*/
.margin-bottom{
    margin-bottom: 40px;
}

form{
  border: 1px solid red;
  text-align: center;
  padding:20px 10px;
}

.hide {
	display: none;
}
.link {
	display: inline-block;
}

.login {

}
