.errorContent, .messageContent {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.errorContent {
  background: #e74c3c;
}

.messageContent {
  background: #1da1f2;
}

.placeholderAvatar {
	height: 100px;
	width: 100px;
	display: inline-block;
}
a {
	display: inline-block;
}
h4 {
	display: inline-block;
}
.postContent {
	display: inline-block;
}
.hide {
	display: none;
}
.link {
	display: inline-block;
}
