/*Error and messages styling*/
.errorContent, .messageContent {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.errorContent {
  background: #e74c3c;
}

.messageContent {
  background: #1da1f2;
}

/*HEADER*/
header{
  border-bottom: 2px solid #333;
  padding-top: 15px;
  padding-bottom: 15px;
}

header .vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center;
}

header ul{
  margin-bottom: 0 !important;
}

header h1, header h4, header p{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.post .placeholderAvatar {
	height: 100px;
	width: 100px;
	display: inline-block;
}
a {
	display: inline-block;
}
h4 {
	display: inline-block;
}
.post .postContent {
	display: inline-block;
}
.hide {
	display: none;
}
.link {
	display: inline-block;
}

.login {

}
.postContainer {
}
